h1{
      color: blue;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      font-size: 80px;
      text-align: center;
}
.parrafo-centro {
  text-align: center;
}
h2{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
h3{
      color: blue;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 35px;
      text-align: center;
}
h4{
    color: blue;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 35px;
      text-align: center;
}
h5{
   color: black;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
     text-align: center;
}
.python-titulo {
     color: #000000; 
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 24px;
    font-weight: bold;
}

.js-titulo {
    color: #000000; 
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 24px;
    font-weight: bold;
}
.aws-titulo {
    color: #000000; 
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 24px;
    font-weight: bold;
}
.docker-titulo {
    color: #000000; 
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 24px;
    font-weight: bold;
}
h6{
      color: blue;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      font-size: 40px;
      text-align: center;

}
p{
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
}
.h7 {
  font-size: 35px;
  font-weight: bold;
  color: blue;
  text-align: center;
}
.h8{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
}
.h9{
      color: blue;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      font-size: 40px;
      text-align: left;
      }
.h10{
      color: blue;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
      font-size: 35px;
      text-align: center;
}
a {
  color: #2575fc;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s ease;
}
.enlace-info {
  color: #1d2b64;
  font-size: 22px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
}
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(100deg, #ddd5d9, #4054a1);
    color: #333;
}